[submodule "libgit2"]
	path = libgit2
	url = https://github.com/libgit2/libgit2.git
[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "pugixml"]
	path = pugixml
	url = https://github.com/zeux/pugixml.git
